input{
    width: 505px;
}

h1{
   text-align: center;
}

.container{
    background-color:cornsilk;
    height: 500px;
}

#wrapper{
    height: 500px;
    width: 510px;
    margin: auto;
}
#bwrapper{
    text-align: center;
}

#error{
    color: orangered;
    text-align: center;
}



