<div id="border">
    <ul>
        <li >
            <div class="imgWrapper" sqHighlightCursorFollower [index]="0" [activeCursorFollower]="activeCursorFollower" [otherCursorFollowers]="[cf2]" #cf1>
                <img [src] ="cursorFollowers[0]" class="cursorFollower"  />
            </div>
        </li>
        <li>
            <div class="imgWrapper" sqHighlightCursorFollower [index]="1" [activeCursorFollower]="activeCursorFollower" [otherCursorFollowers]="[cf1]" #cf2>
                <img [src]="cursorFollowers[1]" class="cursorFollower" />
            </div>
        </li>
    </ul>
</div> 