#wrapper{
    height: 500px;
    width: 510px;
    margin: auto;
}
#bwrapper{
    text-align: center;
}

.name{
    display: inline-block;
    width: 250px;
    height: 50px;
}
.name input{
    width: 250px;
}

input{
    width: 505px;
}

.err{

}

h1{
   text-align: center;
}
